/* Add your specific styles based on your design preferences */

.booking-form {
    max-width: 300px; /* Reduced width */
    max-height: 400px; /* Adjusted max height */
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-y: auto; /* Add overflow-y property for scrolling if content exceeds height */
    background-color: white;
  }
  
  .booking-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .booking-form input,
  .booking-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .booking-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .booking-form button:hover {
    background-color: #0056b3;
  }
  